# ==== Environment

RAILS_ENV=development
NODE_ENV=${RAILS_ENV}
X_APP_ENV=${RAILS_ENV}

# ==== Rails

PORT=3000
SOLID_QUEUE_IN_PUMA=true

# ==== Database

DATABASE_URL=postgres://${USER}@localhost:5432/app_name_development

# ==== Overmind

OVERMIND_PORT=${PORT}
OVERMIND_PROCFILE=Procfile.dev

# https://github.com/rails/rails/issues/38560
OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
