# ==== Environment

RAILS_ENV=development

# ==== Rails

PORT=3000
SOLID_QUEUE_IN_PUMA=false

# ==== Database

DATABASE_URL=postgres://${USER}@localhost:5432/rails_omakase_starter_development

# ==== Overmind

OVERMIND_PORT=${PORT}
OVERMIND_PROCFILE=Procfile.dev

# ==== Misc

# https://github.com/rails/rails/issues/38560
OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
