# ==== Application

PORT=3000
RAILS_ENV=development
SOLID_QUEUE_IN_PUMA=false
X_APP_HOST=localhost

# ==== Databases

DATABASE_URL=postgres://${USER}@localhost:5432/rails_omakase_starter_development

# ==== Overmind

OVERMIND_PORT=${PORT}
OVERMIND_PROCFILE=Procfile.dev

# ==== Vite

VITE_RUBY_HOST=${X_APP_HOST}
VITE_RUBY_PORT=8082
